/* Reset some default styles */
body, ul {
    background-color:#e1e810ad;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Basic styling for the header */
header {
    background-color: #1ec6a4;
    color: rgb(44, 39, 39);
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

/* Styling for the user actions buttons */
#user-actions {
    margin-top: 10px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

/* Styling for the main container */
#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styling for the todo container */
#todo-container {
    background-color: #5c40d7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(124, 204, 45, 0.2);
}

h2 {
    margin-top: 0;
}

/* Styling for the task input and add button */
#add-todo {
    display: flex;
    margin-top: 10px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #e87f10;
    border-radius: 3px;
    font-size: 16px;
}

#add-button {
    background-color: #46085d;
    color: rgb(20, 203, 78);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* Styling for the todo list */
#todo-list {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    flex-grow: 1;
    font-size: 18px;
}

.delete-button {
    background-color: #0ea1c5;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Styling for login and signup modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Additional styling for the forms in the modals */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}
